@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
}

ul li{
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html {
  
}
body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
}

.wrapper {
    
}



.promis {
  /* background-color: rgb(216, 218, 214); */
  background: url(../img/BG\ Image.jpg) 0 0 no-repeat;
  background-size: cover;
  padding: 110px 0px 120px 0px;
}

.container {
  width: 1020px;
  margin: 0 auto;
  /* padding: 110px 0px 120px 0px; */
  /* background-image: url(../img/BG\ Image.jpg); */

}

.subtitle {
  
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #5D62B5;
  margin: 0px 0px 33px 0px;
}

.subtitle::before {
  content: "";
  background: url(../img/Overline\ Mark.svg) 0 0 no-repeat;
  display: inline-block;
  width: 17px;
  height: 22px;
  vertical-align: top;
  padding: 0px 16px 0px 0px;

}

.title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin: 0px 0px 68px 0px;
}

.promise_items {
  font-size: 0;
}

.item {
  display: inline-block;
  max-width: 31.7%;
  font-size: 0;
}

.item:not(:last-child) {
  margin: 0px 24px 0px 0px;
}

.item_body {
  display: inline-block;
  max-width: 235px;
}


.item:nth-child(1)::before {
  content: "";
  background: url(../img/dog_love_24x.svg) 0 0 no-repeat;
  display: inline-block;
  width: 63px;
  height: 63px;
  vertical-align: top;
  padding: 0px 20px 0px 0px;
}

.item:nth-child(2)::before {
  content: "";
  background: url(../img/dog_stream_24x.svg) 0 0 no-repeat;
  display: inline-block;
  width: 63px;
  height: 63px;
  vertical-align: top;
  padding: 0px 20px 0px 0px;

}

.item:nth-child(3)::before {
  content: "";
  background: url(../img/dog_vet_24x.svg) 0 0 no-repeat;
  display: inline-block;
  width: 63px;
  height: 63px;
  vertical-align: top;
  padding: 0px 20px 0px 0px;
  
}

.item_title {
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  color: #F2726F;
  margin: 0px 0px 20px 0px;
}

.item_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #4B4B4B;
}